---
import Title from "@/components/shared/Title.astro";
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import Layout from "../layouts/MainLayout.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
if (!resp.ok) {
	return new Response(null, { status: resp.status });
}
const data = (await resp.json()) as PokemonListResponse;

console.log(data);

const title = "Pokemon Static | Home";
---

<Layout title={title}>
	<Title >{title}</Title>
	<section
		aria-label="Listado de Pokemons"
		class="grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-5 gap-4 mt-4"
	>
		{
			data.results.map(({ name, url }) => (
				<PokemonCard name={name} url={url} />
			))
		}
	</section>
</Layout>
